/* Global Properties */
html {
    font-size: 16px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'MerriweatherSans', Arial, Helvetica, sans-serif;
}

#mf {
    font-family: 'Highlander';
    text-transform: uppercase;
    color: crimson;
}

#center {
    text-align: center;
}

.divider {
    margin: 1rem auto;
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 100%;
}

/* Header Section */
header {
    background-color: black;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

header .container{
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 2rem;
}

header .logo{
    color: crimson;
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    flex: 1;
}

header nav {
    color: white;
    display: block;
}

header nav ul {
    display: flex;
    padding-left: 1.5rem;
    list-style-type: none;
}

header nav li {
    padding-left: 5rem;
}

header a {
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

header nav a:link {
    color: white;
}

header nav a:visited {
    color: white;
}

header nav a:hover {
    cursor: pointer;
    color: rgb(232, 39, 97);
}

header nav a:active {
    font-size: 0.95rem;
    color: rgb(232, 39, 97);
    text-shadow: 1px 1px 3px white;
}

header .mobile {
    display: none;
}


/* Main Section */
main {
    position: relative;
    top: 5rem;
}

/* Page Hero */
.page-hero {
    display: flex;
    align-items: center;
    background-image: url("../images/mf_page_hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40rem;
}

.page-hero .about {
    margin-left: 10rem;
    height: fit-content;
    background-color: rgba(40, 40, 40, 0.8);
    border-radius: 5px;
}

.page-hero .content {
    max-width: 25rem;
    padding: 2rem 4rem 2.5rem 4rem;
    line-height: 1.5;
}

.page-hero h2 {
    margin: 0;
    font-size: 2rem;
}

.page-hero h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Hind-Madurai_Bold', Arial, Helvetica, sans-serif;
    font-size: 2.65rem;
    text-transform: uppercase;
}

.page-hero h4 {
    margin-top: 0;
}

.page-hero button {
    padding: 1.25rem 7rem;
    background-color: rgb(240, 112, 60);
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'MerriweatherSans-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

button:hover {
    cursor: pointer;
    background-color: crimson;
}

button:active {
    background-color: black;
}

/* Equipment */
.equipments h2 {
    font-family: 'MerriweatherSans-Bold', Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.equipments h4 {
    margin-top: 0;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.equipments {
    display: block;
    margin: 5rem auto;
    max-width: 62.5rem;
    background-color: rgba(40, 40, 40, 0.8);
    padding: 1.5rem 3rem 2.5rem 3rem;
    border-radius: 10px;
}

.equipments .container {
    display: flex;
    justify-content: center;
    max-width: 62.5rem;
    flex-wrap: wrap;
}

.equipments .container .box img{
    flex: 1;
    margin: 0.625rem;
    max-height: 12.5rem;
    max-width: 18.5rem;
}

.equipments button{
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.85rem 1.6rem;
    background-color: rgb(240, 112, 60);
    font-size: 1rem;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: crimson;
}

button:active {
    background-color: black;
}

/* Footer Section */
footer {
    background-color: rgb(40, 40, 40);
    padding-top: 1.2rem;
}

footer #mf {
    margin-top: 0;
    margin-bottom: 0.6rem;
}

footer h4 {
    margin: 0;
}

#phone {
    margin-top: 0.3rem;
}

footer p {
    font-size: 0.70rem;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
}